/** {
	box-sizing:border-box;
	border: 1px solid red;
}*/

html {font-size:14px;),

}

body {
	background-image:url('img/wheat.png');
	size:cover;
	background-repeat:repeat;
	margin:0px;
}

.container {
	width:100%;
	overflow:auto;
	text-align:center;
}

a {
	text-decoration:none;
	color:inherit;
}

a.hover (
	)

div {
	color:white;
}

nav {
	background-color: RGBA(0,0,0,0.5);
}

ul {
	display:inline-block;
}

li {
	display:inline-block;
	float:left;
	list-style-type:none;
	padding-top:10px;
	margin:10px;
	font-size:1.5rem;
}

header {
	background-image:url();
	
}
.circleImg {
	background-image: url('https://www.thebalance.com/thmb/xdaHH5q9Wd4kpvlnJxj6WVbayu0=/400x0/portfolio-175431947-5ad433371f4e13003890fcdc.jpg');
	  background-color: #cccccc;
	  height: 100px; 
	  width:100px;
	  border-radius:50%;
	  background-position: center; 
	  background-repeat: no-repeat; 
	  background-size: cover; 
	  overflow:auto;
}

.overlay { /*portfolio circle hover overlay*/
	position:absolute;
	border-radius:50%;
	height:100px;
	width:100px;
	opacity:0;
	transition:0.5s ease;
	background-color: #000;
}

.overlay:hover {
	opacity:1;
}

.overlayText { /*portfolio overlay text*/
	color:white;
	font-size: 1rem;
	position:absolute;
	top:25%;
	left:25%;
}

.profile {
	overflow:auto;
}

.profileImg {
	  background-image:url('https://cdn.breakerlink.com/images/car_logos/JPG/256/min/mg-min.jpg');
	  background-color: #cccccc;
	  height: 100px; 
	  width:100px;
	  border-radius:50%;
	  background-position: center; 
	  background-repeat: no-repeat; 
	  background-size: cover; 
	  overflow:auto;
}

.socialImg {
  background-color: #cccccc;
  float:left; 
  height: 40px; 
  width:40px;
  border-radius:50%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  overflow:auto;
}

.social {
	display:inline;
	float:left;
	margin-left:20px;
}