h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
}

h1 {
    margin-bottom: map-get($spacers, 7);
}

h2 {
    margin-bottom: map-get($spacers, 6);
}

h3 {
    margin-bottom: map-get($spacers, 5);
}

h4 {
    margin-bottom: map-get($spacers, 4);
}

h5 {
}

h6 {
}