.nav-mobile {
    .collapsable-nav {
        background: map-get($colors, grey-portfolio-light);
        top: calc(100vh - 78px);
        padding: map-get($spacers, 3);
        position: fixed;
        width: 100%;
        z-index: 100;

        span {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 30px;

            img {
                height: 10px;
                width: 30px;
            }
        }
    }

    .row {
        margin: 0;

        // set alternate pattern for mobile menu
        &:nth-child(odd) {
            li {
                &:nth-child(odd) {
                    background: map-get($colors, blue-portfolio);
                }

                &:nth-child(even) {
                    background: map-get($colors, pink-portfolio);
                }
            }
        }

        &:nth-child(even) {
            li {
                &:nth-child(even) {
                    background: map-get($colors, mint-portfolio-dark);
                }

                &:nth-child(odd) {
                    background: map-get($colors, yellow-portfolio-light);
                }
            }
        }

        li {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0;
            z-index: 98;

            a {
                display: flex;
                justify-content: center;
                width: 100%;

                p {
                    bottom: 20%;
                    color: map-get($colors, grey-portfolio-dark);
                    position: absolute;
                }
            }

            &:before {
                background-repeat: no-repeat;
                background-size: 100%;
                content: '';
                display: block;
                height: 50px;
                position: absolute;
                width: 50px;
            }

            &.home {
                &:before {
                    background-image: url("/img/001-property.svg");
                }
            }

            &.projects {
                &:before {
                    background-image: url("/img/003-folder.svg");
                }
            }

            &.technologies {
                &:before {
                    background-image: url("/img/002-electronics.svg");
                }
            }

            &.about {
                &:before {
                    background-image: url("/img/005-information.svg");
                }
            }

            &.cv {
                &:before {
                    background-image: url("/img/004-inbox.svg");
                }
            }

            &.baseplate {
                &:before {
                    background-image: url("/img/007-equalizer.svg");
                }
            }
        }
    }



    .navbar-mobile {
        display: block;
        transition: all 1s ease-in-out;

        &.open {
            display: flex;
            z-index: 90;
        }
    }
}