.baseplate {
    h1 {
        &:not(.showcase) {
        padding-bottom: map-get($spacers, 2);
        border-bottom: 5px solid map-get($colors, white-portfolio);
        }
    }

    h2,
    h3 {
        &:not(.showcase) {
            padding-bottom: map-get($spacers, 2);
            border-bottom: 2px solid map-get($colors, white-portfolio);
        }
    }

    .buttonContainer {
        border: 1px solid;
    }

    .row {
        margin-bottom: map-get($spacers, 4);
    }
}