@import 'bootstrap/bootstrap';
@import 'app';
@import 'index';
@import 'colors';
@import '_variables/variables';
@import 'components/linksAndButtons/linksButtons';

body {
    background: map-get($colors, grey-portfolio-dark);
    color: map-get($colors, white-portfolio);
}

h1, h2, h3 {
    background: map-get($colors, grey-portfolio-light);
}