@import 'bootstrap/bootstrap';
@import '_variables/variables';
@import '_modules/_nav/nav';
@import '_components/_linksAndButtons/linksButtons';
@import '_components/_typography/typography';
@import '_components/_forms/forms';
@import 'baseplate';


body {
    background: map-get($colors, grey-portfolio-dark);
    color: map-get($colors, white-portfolio);
    overflow: hidden;
}




